

.banner {
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerImage {
    width: 100%;
}

.bannerLogo {
    position: absolute;
    top: -95%;
    object-fit: contain;
    width: 18rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    gap: 4.5rem;
    flex-wrap: wrap;
}

.button {
    position: relative;
}

.active {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 10px 0 #000, 0 16px 24px rgba(0, 0, 0, 0.17);
}

.active :global(button) {
  background: #d75a2f;
}

@media (max-width: 780px) {
    .content {
        gap: 1rem;
    }
}

@media (max-width: 500px) {
    .content {
        flex-direction: column;
        gap: 2rem;
    }
}
