.landingPage {
  --landing-page-padding: clamp(1rem, 2.5vw, 1rem);
  width: 100%;
  height: 100vh;
  padding: var(--landing-page-padding);
  display: grid;
  place-items: center;

  &__stage {
    position: relative;
    width: min(76vw, calc((100dvh - (var(--landing-page-padding) * 2)) * 0.8));
    aspect-ratio: 1080 / 1350;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__button {
    position: absolute;
    z-index: 10;

    &--intro {
      left: -25%;
      top: 60%;
    }

    &--urgent {
      left: 30%;
      top: 75%;
    }

    &--details {
      right: -25%;
      top: 60%;
    }
  }
}

.translate_button_landingpage {
  position: absolute;
  z-index: 10;
  right: -120%;
  top: -10%;
}

@media (max-width: 1350px) {
  .translate_button_landingpage {
    left: -25%;
    top: -10%;
  }
}

@media (max-width: 1100px) {
  .landingPage {
    // &__stage {
    //   width: min(88vw, calc((100dvh - (var(--landing-page-padding) * 2)) * 0.8));
    // }

    &__button {
      &--intro {
        left: -10%;
        top: 61%;
      }

      &--urgent {
        left: 29%;
        top: 78%;
      }

      &--details {
        right: -10%;
        top: 61%;
      }
    }
  }

  

}

@media (max-width: 1000px) {
  .translate_button_landingpage {
    right: -70%;
    left: auto;
    top: -70%;
  }
}

@media (max-width: 880px) {
  .landingPage {
    // &__stage {
    //   transform: translateY(-1.5rem);
    // }

    &__button {
      &--intro,
      &--urgent,
      &--details {
        left: 50%;
        right: auto;
        --button-brown-base-translate-x: -50%;
        top: auto;
      }

      &--intro {
        bottom: 25%;
      }

      &--urgent {
        bottom: 18%;
      }

      &--details {
        bottom: 11%;
      }
    }
  }
}

@media (max-width: 680px) {
  .landingPage {

    &__button {
      &--intro,
      &--urgent,
      &--details {
        left: 50%;
        right: auto;
        --button-brown-base-translate-x: -50%;
        top: auto;
      }

      &--intro {
        bottom: 20%;
      }

      &--urgent {
        bottom: 8%;
      }

      &--details {
        bottom: -4%;
      }
    }
  }
}

@media (max-width: 500px) {
  .landingPage {
    padding-top: 0.25rem;
    padding-bottom: 0;
  }
}



